ul.menuTop {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: -10%;
}

li.menuTop {
  float: right;
}

li a.menuTop {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

li a.menuTop:hover {
  background-color: #111;
  background: #ddd;
}

.logo {
  color: #33ccff;
  padding-left: 7px;
}

.title {
  padding-top: 7%;
}

.container-fluid {
  width: 100%;
  padding-left: 10%;
}

.pic {
  width: 200px;
  height: 100px;
}

ul.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul.list2 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul.list3 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scrollable {
  height: 240px;
  overflow: auto;
}

h4.title {
  display: flex;
  flex-direction: column;
  margin-top: -8px;
  padding-left: 26px;
}

p.text {
  text-align: center;
}

#right {
  padding-right: 20px;
}
